[Unit]
Description=Consul
Documentation=https://consul.io/docs/

[Service]
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5
ExecStart=/usr/local/bin/consul agent -config-dir=/etc/consul.d

[Install]
WantedBy=multi-user.target
